<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="00001"
    android:versionName="01.00.01">

    <!-- if ENABLE_ADMOB = true, enable the following-->
<!--    <uses-permission android:name="android.permission.INTERNET" />-->

    <uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="false"
		android:largeHeap="true"        
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        >

        <activity
            android:name="com.cw.sumlist.main.MainAct"
            android:theme="@style/MyTheme"
            android:launchMode="singleTop"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
	   		<intent-filter>
			   <action android:name="android.intent.action.SEND" />
			   <category android:name="android.intent.category.DEFAULT" />
			   <data android:mimeType="text/*" />
			</intent-filter>
            <intent-filter android:priority="0">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </activity>

        <activity android:name="com.cw.sumlist.note_add.Note_addText"
                  android:theme="@style/MyTheme"
                  android:windowSoftInputMode="adjustPan"
                  android:parentActivityName="com.cw.sumlist.main.MainAct">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cw.sumlist.main.MainAct" />
        </activity>
        <activity android:name="com.cw.sumlist.note_edit.Note_edit"
                 android:theme="@style/MyTheme"
                 android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.cw.sumlist.note.Note"
                  android:theme="@style/MyTheme"
                  android:exported="true">
            <intent-filter android:priority="0">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </activity>
        <!-- note: add orientation above, when doing Rotate, activity will not go through the following states:
             onPause/onSaveInstanceState/onStop/onDestroy/
                                                onCreate/onStart/onRestoreInstanceState/onResume    -->

        <!-- AdMob: formal case    -->
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--            android:value="@string/ad_mob_app_id"/>-->

        <!-- AdMob: debug case        -->
        <!-- if ENABLE_ADMOB = true, enable the following-->
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--            android:value="@string/ad_mob_app_id_test"/>-->

   </application>

</manifest>